[submodule ".gitmodules.d/vim-airline/vim-airline"]
	path = .gitmodules.d/vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".gitmodules.d/preservim/nerdtree"]
	path = .gitmodules.d/preservim/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".gitmodules.d/airblade/vim-gitgutter"]
	path = .gitmodules.d/airblade/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".gitmodules.d/tomtom/tcomment_vim"]
	path = .gitmodules.d/tomtom/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
