*

!.gitignore_global
!.gitignore
!.gitattributes
!Readme.md

# gitmodules 関連
!.gitmodules.d
!.gitmodules.d/.gitignore
!.gitmodules

# zsh 関連
!.zshrc
!.union.zshrc
!.alias.d
!.alias.d/.gitignore
!.union.alias

!.omzrc
!.union.omz_plugins
!.oh-my-zsh
!.zsh_custom
!.zsh_custom/.gitignore
