*

!.gitignore
!.gitignore_global
!.zshrc
!.zshrc_all
!Readme.md

# 特殊ディレクトリ
!.config
!.config/nvim
!.config/nvim/init.vim

# vim関係
!.vimrc
!.share_vimrc.vim

!.vim
!.vim/nerdtree.vim
!.vim/vim-gitgutter.vim
!.vim/tcomment_vim.vim

!.vim/pack
!.vim/pack/vim-airline
!.vim/pack/vim-airline/start
!.vim/pack/vim-airline/start/vim-airline
!.vim/pack/preservim
!.vim/pack/preservim/start
!.vim/pack/preservim/start/nerdtree
!.vim/pack/airblade
!.vim/pack/airblade/start
!.vim/pack/airblade/start/vim-gitgutter
!.vim/pack/tomtom
!.vim/pack/tomtom/start
!.vim/pack/tomtom/start/tcomment_vim

# submodule関係
!.gitmodules
!.gitmodules.d
!.gitmodules.d/vim-airline
!.gitmodules.d/vim-airline/vim-airline
!.gitmodules.d/preservim
!.gitmodules.d/preservim/nerdtree
!.gitmodules.d/airblade
!.gitmodules.d/airblade/vim-gitgutter
!.gitmodules.d/tomtom
!.gitmodules.d/tomtom/tcomment_vim
