*

!.gitignore_global
!.gitignore
!.gitattributes
!Readme.md

# gitmodules 関連
!.gitmodules.d
!.gitmodules.d/.gitignore
!.gitmodules

# zsh 関連
!.zshrc
!.zsh_alias.d
!.zsh_alias.d/.gitignore
!.omzrc
!.oh-my-zsh
!.zsh_custom
!.zsh_custom/.gitignore
